body {
   font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #c41e1e;
   color: #fff;
}

h1 {
  margin: 2.5rem;
}

p {
  margin: 1.5rem 0;
}

#superherodataWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#superhero1data,
#superhero2data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

#searchInput1,
#searchInput2 {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

button {
  background-color: #ffffff;
  color: #ff2e2e;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 5px 0px #000000;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 0px #000000;
}

#fight-type {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ffffff;
  color: #ff2e2e;
}

#heroImage1 img,
#heroImage2 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 20 0rem;
  max-width: auto;
  border-radius: 80%;
  object-fit: cover;
}

.superhero-card {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  background-color: #0d0c0c;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 2rem 4rem 3rem 4rem;
  width: 15rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.superhero-card img {
  height: 100%;
  object-fit: cover;
  width: 100%; /* Added width */
  max-height: 18rem; /* Fixed height */
  border-radius: 40%;
}

.superhero-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.superhero-card:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 2px #fff;
}

